.buscador{
  display:flex;
  justify-content:flex-start;
  margin:55px;
  padding:15px;
  padding-left:36px;
  padding-right:705px;
  border:2px solid var(--color-primary);
  border-radius:25px;
}

input{
  padding:10px;
  width:300px;
}

.contenedor-busqueda{
  display:flex;
  justify-content:center;
}