:root {
 --color-primary: #7C3AED;
 --color-primary-light: #EDE9FE;
 --color-secondary: #06B6D4;
 --color-dark: #1E1B4B;
 --color-gray: #6B7280;
 --color-light: #F9FAFB;
 --color-white: #FFFFFF;
}


body{
    background-color: var(--color-light);
}

h1{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
    font-size: 30px;
}

.buscador{
  display: flex;
  justify-content: flex-start;
  margin: 55px;
  padding: 10px;
  padding-right: 705px;
  border: 2px solid var(--color-primary);
  border-radius: 20px;
}

input{
  padding:10px;
  width:300px;
}

.container{
  display:flex;
  flex-wrap:wrap;
  gap:20px;
  justify-content:center;
}

.card{
  width:200px;
  padding:20px;
  border-radius:10px;
  background:var(--color-white);
  text-align:center;
  font-size: 14px;
}

.card img{
  width:100px;
}

.favorite{
  background-color: var(--color-primary-light);
}

button{
  padding:8px 44px;
  background-color: var(--color-white);
  border: 2px solid;
  border-radius: 20px;
  border-color: var(--color-primary);
  color: var(--color-primary);
  cursor:pointer;
}

.aviso{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    background-color: var(--color-primary-light);
    border-radius: 15px;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--color-dark);
    font-size: 14px;
    margin:20px;
}

.notas{
    color: var(--color-primary);
    font-weight: 600;
}

footer{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    font-size: 16px;
    margin: 20px;
}

.destacada{
    color: var(--color-primary);
    border-right: 1px solid var(--color-dark);
}

.normal{
    color: var(--color-gray);
    border-right: 1px solid var(--color-dark);
}